@import "../fonts/index.css";
@import "./_common.scss";

.btn {
  padding: 11px 25px;
  background-color: #03bafe;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #03bafe;
  transition: 300ms;
  letter-spacing: 0.2px;
  font-weight: 700;

  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 700;
  }

  &:hover {
    background-color: #0c88b7;
    border-color: #0c88b7;
  }

  &.btn-outline-white {
    background-color: transparent;
    border: 1px solid #ffffff;
    font-weight: 600;
  }

  &.btn-outline-blue {
    background-color: transparent;
    border: 1px solid #03bafe;
    color: #03bafe;
  }

  &.btn-outline-orange {
    background-color: #ffa200;
    color: #000;
    border: 1px solid #ffa200;
  }

  &:hover {
    background-color: #ba7a0c;
    border-color: #ba7a0c;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;

  @media only screen and (max-width: 991px) {
    font-size: 28px;
  }
}

/* Header wrapper */

.header-wrapper {
  background-image: url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 78px;

  @media only screen and (max-width: 767px) {
    padding-bottom: 2px;
  }
}

/* Header */

.header {
  position: relative;

  &__inner {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    margin-left: 25px;
    display: flex;
    align-items: flex-start;
  }

  &__lang {
    padding: 10px;
    width: 117px;
    height: 44px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
  }

  &__info {
    display: flex;
    align-items: center;

    .select2 {
      @media only screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;
  }

  &__nav {
    @media only screen and (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(20px);
      padding: 29px 20px 20px;
      display: none;
    }

    .select2 {
      display: none;

      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
  }

  .select2-container .select2-selection--single {
    height: 44px;
  }

  .select2 {
    width: 117px !important;

    @media only screen and (max-width: 991px) {
      margin: 0 auto;
      margin-top: 29px;
    }
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 44px;
    color: #fff;

    @media only screen and (max-width: 991px) {
      color: #000;
    }
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 44px;
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    border-color: #fff;

    @media only screen and (max-width: 991px) {
      border-color: #000;
    }
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    background-image: url("../images/check-mark.svg");
    background-repeat: no-repeat;
    height: 6px;
    border: 0;
    width: 11px;

    @media only screen and (max-width: 991px) {
      background-image: url("../images/check-mark-black.svg");
    }
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    right: 6px;
  }

  .select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #0c88b7;
  }
}

/* Nav */

.nav {
  &__list {
    display: flex;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    margin-right: 25px;

    @media only screen and (max-width: 1336px) {
      margin-right: 15px;
    }

    @media only screen and (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 28px;
    }

    &:last-child {
      margin-right: 0;

      @media only screen and (max-width: 991px) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    transition: 300ms;
    text-align: center;

    @media only screen and (max-width: 991px) {
      color: #000;
      font-weight: 700;
    }

    &:hover {
      // text-decoration: underline;
      // text-decoration-color:#FFA200;
      border-bottom: 1px solid #ffa200;
    }

    @media only screen and (max-width: 1336px) {
      font-size: 16px;
    }
  }
}

/*Intro*/

.intro {
  &__content {
    max-width: 451px;
    padding-bottom: 28px;

    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__price {
    font-weight: 800;
    color: #fff;
    font-size: 58px;
    margin-bottom: 5px;
    line-height: 1.3;

    @media only screen and (max-width: 767px) {
      font-size: 40px;
      font-weight: 700;
    }
  }

  &__text {
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 40px;
    font-size: 24px;

    @media only screen and (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 30px;
      font-weight: 600;
      line-height: 1.7;
    }
  }

  &__btn {
    margin-right: 19px;

    @media only screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.btn-white {
      padding-left: 10px;
      padding-right: 10px;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

// Burger

.burger {
  display: none;
  width: 28px;
  height: 28px;
  margin-left: 10px;

  @media only screen and (max-width: 991px) {
    display: block;
  }

  a {
    display: block;
    cursor: pointer;
    padding: 12px 0;

    &.active span {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 1px;
      transition: all 0.2s ease-in-out;
      background-color: #fff;

      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        transition: all 0.2s ease-in-out;
        background-color: #fff;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

/*Dreams*/

.dreams {
  padding: 52px 0 60px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    .dreams__btn {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__title {
    @media only screen and (max-width: 767px) {
      font-size: 21px;
    }
  }

  &__progress {
    background: rgba(3, 186, 254, 0.2);
    border-radius: 10px;
    height: 5px;

    &-bar {
      background: linear-gradient(0deg, #03bafe, #03bafe),
        linear-gradient(0deg, #f7efef, #f7efef), #f7efef;
      border-radius: 10px;
      height: 5px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    overflow: auto;

    @media only screen and (max-width: 1336px) {
      grid-gap: 20px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 240px 240px 240px;
      margin: 0 -15px;
      padding: 0 15px 20px;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }

  &__bottom {
    display: none;

    @media only screen and (max-width: 767px) {
      display: block;
    }

    .dreams__btn {
      @media only screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.05);
    border-radius: 0px 0px 20px 20px;
  }

  &__image {
    width: 100%;
    border-radius: 20px;
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media only screen and (max-width: 991px) {
      padding: 10px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: "Manrope";

    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;

    @media only screen and (max-width: 786px) {
      font-size: 11px;
      margin-bottom: 10px;
    }
  }

  &__info {
    margin-top: auto;
  }

  &__time {
    color: #999;
    margin-bottom: 10px;

    @media only screen and (max-width: 767px) {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }

  &__price {
    margin-top: 10px;
    color: #999;

    & b {
      color: #000;
    }

    @media only screen and (max-width: 767px) {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}

/*Notification*/

.notification {
  margin-bottom: 60px;

  &__wrapper {
    background: rgba(235, 250, 255, 0.7);
    border-radius: 20px;
    padding: 45px 33px;

    @media only screen and (max-width: 767px) {
      padding: 17px 20px;
    }
  }

  &__text {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(180deg, #03bafe 0%, #0068ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    letter-spacing: 0.1px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__desc {
    display: none;

    @media only screen and (max-width: 767px) {
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      background: linear-gradient(180deg, #03bafe 0%, #0068ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.3;
      letter-spacing: 0.1px;
    }
  }
}

/*Support*/

.support {
  margin-bottom: 35px;

  &__header {
    text-align: center;
    margin-bottom: 95px;

    @media only screen and (max-width: 1336px) {
      font-size: 27px;
      margin-bottom: 60px;
    }

    @media only screen and (max-width: 991px) {
      margin: 0 auto 30px auto;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__heading {
    display: none;

    @media only screen and (max-width: 767px) {
      display: block;
      margin: 0 auto 30px auto;
      font-size: 21px;
      font-weight: 700;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1336px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    max-width: 700px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    @media only screen and (max-width: 1336px) {
      margin-right: 13px;
    }
  }

  &__guide {
    display: none;
    margin-top: 35px;

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  &__subject {
    margin-bottom: 20px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    overflow: auto;

    @media only screen and (max-width: 1336px) {
      grid-gap: 10px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 235px 235px 235px 235px;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }

  &__card {
    background: #f9f9f9;
    border-radius: 20px;
    padding: 20px 20px 44px;
    max-width: 235px;

    span {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      width: 70px;
      height: 70px;
      background: linear-gradient(0deg, #03bafe, #03bafe),
        linear-gradient(0deg, #f7efef, #f7efef), #f7efef;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-bottom: 20px;
    }
  }

  &__button {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  &__headline {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__copy {
    font-size: 12px;
    line-height: 2;
  }

  &__statistics {
    max-width: 411px;
    border: 1px solid rgba(3, 186, 254, 0.15);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;

    @media only screen and (max-width: 1336px) {
      padding: 15px;
      width: 100%;
      max-width: 100%;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.1px;
    margin-bottom: 15px;

    @media only screen and (max-width: 1336px) {
      margin-bottom: 10px;
      font-weight: 600;
    }

    @media only screen and (max-width: 767px) {
      font-size: 21px;
    }
  }

  &__price {
    color: #03bafe;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;

    @media only screen and (max-width: 1336px) {
      font-size: 21px;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__cash {
    display: none;

    @media only screen and (max-width: 767px) {
      display: block;
      color: #03bafe;
      font-size: 21px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }

  &__text {
    font-family: "Manrope";
    color: #999;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;

    @media only screen and (max-width: 1336px) {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__manual {
    background: #ebfaff;
    border-radius: 20px;
    padding: 20px 20px 12px;
    max-width: 400px;

    @media only screen and (max-width: 1336px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    a {
      color: #03bafe;
      text-decoration: none;

      @media only screen and (max-width: 1336px) {
        font-size: 12px;
      }
    }

    span {
      position: relative;
      color: #03bafe;
      font-size: 40px;
      font-weight: 700;
      margin-right: 22px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(107, 203, 239, 0.2);
      }
    }
  }

  &__desc {
    margin-top: 14px;

    @media only screen and (max-width: 1336px) {
      margin-top: 10px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__btns {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1336px) {
      flex-direction: column;
    }

    .support__btn {
      margin-right: 11px;
      font-size: 14px;
      padding: 10px 10px;
      text-align: center;

      @media only screen and (max-width: 1336px) {
        max-width: 320px;
        width: 100%;
        margin: 0 auto 10px auto;
      }

      &--more {
        display: block;

        @media only screen and (max-width: 767px) {
          display: none;
        }
      }

      &:last-child {
        margin-right: auto;
        margin-bottom: 0;

        @media only screen and (max-width: 1336px) {
          margin-bottom: 0;
        }
      }
    }
  }
}

/*Feedback*/

.feedback {
  margin-top: 117px;
  margin-bottom: 60px;

  @media only screen and (max-width: 991px) {
    margin-top: 60px;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 60px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 21px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 10px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__text {
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: 39px;
    height: 100%;

    @media only screen and (max-width: 991px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 21px;

    @media only screen and (max-width: 767px) {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.05);
    border-radius: 20px;
    padding: 30px;
    height: auto;

    @media only screen and (max-width: 991px) {
      padding: 20px;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #f9f9f9;

    &::after {
      display: none;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -29px;
  }

  .swiper-button-next {
    right: -18px;
  }

  .swiper-pagination {
    text-align: left;
    position: static;
    margin-top: 60px;

    @media only screen and (max-width: 767px) {
      margin-top: 20px;
      text-align: center;
    }
  }
}

/*Reviews*/

.reviews {
  margin-bottom: 108px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 35px;
  }

  &__item {
    position: relative;

    iframe {
      width: 100%;
      height: 419px;
      border-radius: 10px;
      border: 0;

      @media only screen and (max-width: 767px) {
        height: 300px;
      }
    }
  }

  &__title {
    font-family: "Arial";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.1;
    padding: 0 15px 20px;

    @media only screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  .swiper-button-prev, 
  .swiper-button-next {
    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: -29px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .swiper-button-next {
    right: -29px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .swiper-button-disabled {
    opacity: 0;
  }
}

